.recipients-input {

  .field {
    cursor: text;
    border: 1px solid $border-color;
    min-height: 3.125rem;

    &.disabled {
      cursor: not-allowed;
    }

    .tag-input {

      .sizer {
        opacity: 0;
        position: absolute;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: inherit;
        font-family: inherit;
      }
      input {
        flex: 0;
        border: 0;
        &:focus {
          outline: 0;
        }
      }
    }

    .single-tag {
      margin: 0.125rem 0;
    }
  }

}