.navbar {
  .navbar-brand {
    img {
      height: 100%;
      width: auto;
    }
  }

  .navbar-right {
    .subscription {
      .badge {
        &.regular {
          background-color: $brand-success;
        }

        &.professional {
          background-color: $brand-primary;
        }
      }
    }
  }
}