.recipients-input {


  > .input {
    position: relative;
    cursor: text;
    border: 1px solid $input-border;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    padding: 8px 8px 0 8px;
    margin: 0 0 1rem;
    height: auto;
  }

  .input-wrap {
    display: inline-block;
    margin-bottom: 6px;

    .tag-input {
      position: relative;
      display: inline-block;

      .sizer {
        opacity: 0;
        display: inline-block;
        position: absolute;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: inherit;
        font-family: inherit;
      }

      input {
        min-width: 6px;
        background: transparent;
        position: relative;
        border: 0;
        display: inline-block;
        height: 30px;
        padding: 1px 0;
        margin-right: -15px; // Because we added 20px extra width

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .btn-tag {
    background: lighten($brand-primary, 47%);
    display: inline-block;
    margin: 0 3px 4px 3px;
    padding: 1px 10px;
    border-radius: 3px;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
    outline: 0;
    font-weight: normal;

    &:hover {
      color: initial;
    }

    &:focus, &.focus {
      background: lighten($brand-primary, 20%);
      color: #fff;
    }
  }

  .error {
    color: $brand-danger;
  }
}